#dvd
{
	SCROLLBAR-FACE-COLOR: #a6d9ff;
	SCROLLBAR-HIGHLIGHT-COLOR: #FFFFFF;
	SCROLLBAR-SHADOW-COLOR: #717171;
	SCROLLBAR-3DLIGHT-COLOR: #717171;
	SCROLLBAR-ARROW-COLOR: #00008B;
	SCROLLBAR-TRACK-COLOR: #ddf0ff;
	SCROLLBAR-DARKSHADOW-COLOR: #FFFFFF;

}